.container {
    display: flex;
    width: 100%;
    height: 45%;
    background-color: #96A8B9;
}

.footer {
    width: 100%;
    height: 5%;
    background-color: var(--color-background-light);
}

.containerLeft {
    background-color: #768FA9;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.containerRight {
    width: 50%;
    position: relative;

    align-items: flex-start;
    justify-content: flex-start;
}

.imgNotFound {
    width: 70%;
    height: auto;
    max-width: 595px;
}

.imgCat {
    position: absolute;
    width: 25%;
    height: auto;
    max-height: 339px;
    
    bottom: -35px;
}

.speechBubble {
    width: 35%;
    height: 35%;
    max-height: 192px;
    max-width: 306px;
    position: absolute;
    background-color: var(--color-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90px;
    left: 220px;
    border-radius: 15px;
    transform: rotate(10deg);
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

.speechBubble::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 30px;
    width: 25%;
    height: 35px;
    background-color: var(--color-branco);

    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

.text {
    font-size: 21px;
    color: black;
    font-weight: bold;
    text-align: center;
}