.pageWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.forgotCard {
    background-color: var(--color-background-dark);
    width: 100%;
    max-height: 309px;
    max-width: 572px;
    padding: 17px 60px 40px 60px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.backButton:hover {
    opacity: 1;
}

.logoContainer {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoSvg {
    height: auto;
    width: auto;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.label {
    font-size: 17.5px;
    margin-bottom: 20px;
    font-weight: 300;
}

.input {
    width: 100%;
    max-width: 337px;
    max-height: 28px;
    background-color: var(--color-background);
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    color: #e0e0e0;
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: background 0.2s;
}

.input:focus {
    background-color: #333;
}

.input::placeholder {
    color: #666;
}

.forgotPassword {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.2s;
}

.entrarButton {
    height: 100%;
    max-height: 25px;
    width: 100%;
    max-width: 95px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .loginCard {
        width: 90%;
        padding: 30px 20px;
    }
}