{
    email hassis.moreira117@gmail.com
    # debug 
}

# 1. O SITE PRINCIPAL
{$DOMAIN}, www.{$DOMAIN} {
    {$TLS_OPTS}
    encode gzip
    reverse_proxy web:80
}

# 2. A API
api.{$DOMAIN} {
    {$TLS_OPTS}
    encode gzip
    reverse_proxy api:{$API_PORT}
}

# 3. BANCHO
c.{$DOMAIN}, ce.{$DOMAIN}, c4.{$DOMAIN}, osu.{$DOMAIN}, b.{$DOMAIN} {
    {$TLS_OPTS}
    reverse_proxy bancho:{$APP_PORT} {
        header_up X-Real-IP {remote_host}
    }
}

# 4. AVATARES
a.{$DOMAIN} {
    {$TLS_OPTS}
    encode gzip
    root * /srv/root/.data/avatars
    file_server
    try_files {path} {path}.png {path}.jpg {path}.jpeg {path}.gif /default.jpg
}

# 5. ASSETS
assets.{$DOMAIN} {
    {$TLS_OPTS}
    encode gzip
    root * /srv/root/.data/assets
    file_server
}