.pageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.card {
    width: 70%;
    max-width: 720px;
    height: 736px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: var(--color-background-dark);
    border-radius: 15px;
}

.headerContainer {
    display: contents; 
}

.backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.backButton:hover {
    opacity: 1;
}

.title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 13%;
    font-size: 48px;
    margin: 0 !important;
    padding: 0 !important;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 87%;
}

.dashedList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 80%;

}

.dashedList li {
    font-size: 17.5px;
    font-weight: bold;
}

.image {
    width: 70%;
    height: auto;
}

@media (max-width: 768px) {
    .headerContainer {
        display: flex;
        align-items: center;     
        justify-content: center; 
        position: relative;       
        width: 100%;
        height: 7%;    
        padding: 15px;          
    }
    .title {
        align-items: flex-start;
        font-size: 28px;

    }

    .dashedList li {
        font-size: 15.5px;
        font-weight: bold;
    }

    .image {
        width: 90%;
        height: auto;
    }

    .backButton {
        position:unset;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s;
    }

  

}